.app-2 {
  margin: 20px auto;
  padding: 20px;
  width: 100% !important;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.app-2 h1,
.app-2 h2 {
  color: #333;
  text-align: center;
}

.app-2 div {
  margin: 20px auto;
  padding: 20px;
  width: 100% !important;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.app-2 label {
  display: block;
  margin: 10px 0;
  font-weight: bold;
}

.app-2 input[type="number"],
.app-2 input[type="text"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.app-2 table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.app-2 th,
.app-2 td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.app-2 th {
  background-color: #f2f2f2;
}

.app-2 tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.app-2 tbody tr:hover {
  background-color: #f1f1f1;
}

.app-2 button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.app-2 button:hover {
  background-color: #0056b3;
}

.app-2 .remove {
  background-color: #dc3545;
}

.app-2 .remove:hover {
  background-color: #c82333;
}
