.inputs-outputs-form {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.inputs-outputs-form h1,
.inputs-outputs-form h2 {
  color: #333;
  text-align: center;
}

.inputs-outputs-form div {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.inputs-outputs-form label {
  display: block;
  margin: 10px 0;
  font-weight: bold;
}

.inputs-outputs-form input[type="number"],
.inputs-outputs-form input[type="text"] {
  width: -webkit-fill-available;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inputs-outputs-form table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.inputs-outputs-form th,
.inputs-outputs-form td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.inputs-outputs-form th {
  background-color: #f2f2f2;
}

.inputs-outputs-form tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.inputs-outputs-form tbody tr:hover {
  background-color: #f1f1f1;
}

.inputs-outputs-form button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.inputs-outputs-form button:hover {
  background-color: #0056b3;
}

.inputs-outputs-form .remove {
  background-color: #dc3545;
}

.inputs-outputs-form .remove:hover {
  background-color: #c82333;
}
